In [8]:
for i in range(1, 6):
    for j in range(1, 6):
        print(j, end=' ')
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [15]:
for i in range(5, 0, -1):
    for j in range(1, 6):
        print(j, end=' ')
        if j == i:
            break
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [9]:
for i in range(0, 5):
    for j in range(1, 6):
        k=i+j
        if k<=5:
            print(k,end=" ")
    print()

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

In [11]:
for i in range(1, 6):
    for j in range(1, 6):
        print(j, end=' ')
        if j == i:
            break
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [7]:
for i in range(1, 6):
    for j in range(6, 0, -1):
        k = i-j
        if k>=0:
            print(j, end=' ')
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [18]:
for i in range(1, 6):
    for j in range(5, 0, -1):
        print(j, end=' ')
    print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [17]:
for i in range(1, 6):
    for j in range(5, 0, -1):
        print(j, end=' ')
        if j == i:
            break
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [19]:
for i in range(5, 0, -1):
    for j in range(5, 0, -1):
        print(j, end=' ')
        if j == i:
            break
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [17]:
for i in range(1,6):
    for j in range(1,6):
        k = i+j
        if k>=6:
            print(j, end=' ')
    print()

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

In [20]:
print(6)
for i in range(1, 6):
    for j in range(1, 6):
        print(j, end=' ')
        if j == i:
            break
    print(6)

6
1 6
1 2 6
1 2 3 6
1 2 3 4 6
1 2 3 4 5 6

In [22]:
for i in range(1, 6):
    for j in range(1, 6):
        print(i+j, end=' ')
    print()

2 3 4 5 6
3 4 5 6 7
4 5 6 7 8
5 6 7 8 9
6 7 8 9 10

In [1]:
for i in range(1,6):
  for j in range(5,i,-1):
    print(" ",end=' ')
  for k in range(1,i+1):
    print(k, end=' ')
  for l in range(i-1,0,-1):
    print(l,end=' ')
  print()
t = 5
for i in range(1,5):
  for j in range(0,i):
    print(' ', end=' ')
  for k in range(1,t):
    print(k, end=' ')
  for l in range(4,i,-1):
    print(l-i, end=' ')
  print()
  t -= 1

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1
  1 2 3 4 3 2 1
    1 2 3 2 1
      1 2 1
        1

In [2]:
for i in range(1,6):
  for j in range(5,i,-1):
    print(' ', end=' ')
  for k in range(1,i+1):
    print('*', end=' ')
  for l in range(i-1,0,-1):
    print('*', end=' ')
  print()
t=5
for i in range(1,6):
  for j in range(1,i+1):
    print(' ', end=' ')
  for k in range(1,t):
    print('*', end=' ')
  for l in range(2,t):
    print('*', end=' ')
  print()
  t -= 1

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [23]:
for i in range(1, 6):
    for j in range(1, 6):
        print('*', end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [24]:
for i in range(1, 6):
    for j in range(1, 6):
        print('*', end=' ')
        if j==i:
            break
    print()

*
* *
* * *
* * * *
* * * * *

In [25]:
for i in range(5, 0, -1):
    for j in range(1, 6):
        print('*', end=' ')
        if j==i:
            break
    print()

* * * * *
* * * *
* * *
* *
*

In [29]:
for i in range(1, 6):
    for j in range(1, 6):
        if j<=i:
            print(j, end=' ')
        else:
            print('*', end=' ')
    print()

1 * * * *
1 2 * * *
1 2 3 * *
1 2 3 4 *
1 2 3 4 5

In [30]:
for i in range(1, 6):
    for j in range(1, 6):
        if i%2 != 0:
            print(j, end=' ')
        else:
            print('*', end=' ')
    print()

1 2 3 4 5
* * * * *
1 2 3 4 5
* * * * *
1 2 3 4 5

In [43]:
for i in range(1, 6):
    for j in range(5, 0, -1):
        k = i+j
        if k>5:
            print(i, end=' ')
    for j in range(1, 6):
        k=i+j
        if k<=5:
            print(k, end=' ')
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [44]:
for i in range(1, 7):
    for j in range(1, 7):
        print(j%2, end=' ')
        if j == i:
            break
    print()

1
1 0
1 0 1
1 0 1 0
1 0 1 0 1
1 0 1 0 1 0

In [59]:
for i in range(1, 8):
    k = i%2
    if k == 0:
        print(0, end=' ')
    for j in range(1, 8):
        if k == 1:
            print(j%2, end=' ')
        else:
            print(j%2, end=' ')
            j += 1
        if j == i:
            break
    print()

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1
0 1 0 1 0 1
1 0 1 0 1 0 1

In [60]:
for i in range(7, 0, -1):
    for j in range(1, 8):
        print(j%2, end=' ')
        if j == i:
            break
    print()

1 0 1 0 1 0 1
1 0 1 0 1 0
1 0 1 0 1
1 0 1 0
1 0 1
1 0
1

In [62]:
for i in range(7, 0, -1):
    k = i%2
    if k == 0:
        print(0, end=' ')
    for j in range(1, 8):
        if k == 1:
            print(j%2, end=' ')
        else:
            print(j%2, end=' ')
            j += 1
        if j == i:
            break
    print()

1 0 1 0 1 0 1
0 1 0 1 0 1
1 0 1 0 1
0 1 0 1
1 0 1
0 1
1

In [13]:
for i in range(1,6):
    for j in range(1, 6):
        print(i, end=' ')
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [32]:
for i in range(1, 6):
    for j in range(5, 0, -1):
        k = i+j
        if k>=6:
            print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [67]:
for i in range(5, 0, -1):
    for j in range(1, 6):
        k = i+j
        if k<=6:
            print(i, end=' ')
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [68]:
k=1
for i in range(1, 5):
    for j in range(1, 5):
        print(k, end=' ')
        k += 1
        if i == j:
            break
    print()

1
2 3
4 5 6
7 8 9 10

In [1]:
k = 0
m = 1
n = 0
for i in range(0, 5):
    for j in range(0, i):
        print(n, end=' ')
        k = m
        m = n
        n = m+k
    print()

0
1 1
2 3 5
8 13 21 34

In [25]:
i = 3
prime = [1,2]
while i<50:
    c = 0
    for j in range(2, i-1):
        if i%j == 0:
            c = 1
            break
    if c == 0:
        prime.append(i)
    i += 1
r = 0
for p in range(0, 6):
    for q in range(0, p):
        print(prime[r], end=' ')
        r += 1
    print()

1
2 3
5 7 11
13 17 19 23
29 31 37 41 43

In [27]:
c = 0
for i in range(0, 5):
    for j in range(0, i):
        print(c%5, end=' ')
        c += 1
    print()

0
1 2
3 4 0
1 2 3 4

In [28]:
c = 0
for i in range(0, 5):
    for j in range(0, i):
        print(c%3, end=' ')
        c += 1
    print()

0
1 2
0 1 2
0 1 2 0

In [32]:
for i in range(0, 8):
    if i%2 == 1:
        print(' ', end='')
    for j in range(0, 8):
        print('*', end='')
    print()

********
 ********
********
 ********
********
 ********
********
 ********

In [33]:
for i in range(0, 6):
    if i == 1:
        print(' ', end='')
    for j in range(0, 6):
        print('*', end='')
    print()

******
 ******
******
******
******
******

In [34]:
for i in range(0, 5):
    for j in range(1, 6):
        if i%2 == 1:
            print('A', end=' ')
        else:
            print(j, end=' ')
    print()

1 2 3 4 5
A A A A A
1 2 3 4 5
A A A A A
1 2 3 4 5

In [36]:
for i in range(1, 6):
    for j in range(1, 6):
        if i == j:
            print(0, end=' ')
        else:
            print(j, end=' ')
    print()

0 2 3 4 5
1 0 3 4 5
1 2 0 4 5
1 2 3 0 5
1 2 3 4 0

In [37]:
for i in range(1, 6):
    c = 0
    if i%2 == 0:
        c = 1
    for j in range(1, 6):
        if c == 1:
            if j%2 == 1:
                print('*', end=' ')
            else:
                print(j, end=' ')
        else:
            if j%2 == 0:
                print('*', end=' ')
            else:
                print(j, end=' ')
    print()

1 * 3 * 5
* 2 * 4 *
1 * 3 * 5
* 2 * 4 *
1 * 3 * 5

In [25]:
for i in range(5, 0, -1):
    for j in range(1, 6):
        print(' ', end=' ')
        if j == i:
            break
    for j in range(5, 0, -1):
        print('#', end=' ')
        if j == i:
            break
    print()

          #
        # #
      # # #
    # # # #
  # # # # #

In [8]:
for i in range(5, 0, -1):
    for j in range(1, 6):
        print('*', end=' ')
        if j==i:
            break
    print()

* * * * *
* * * * *
*
* * * * *
* * * * *

In [4]:
n = int(input())
player1 = []
player2 = []
difference = []
winner = []
for i in range(0, n):
    p1,p2 = map(int, input().split())
    player1.append(p1)
    player2.append(p2)
scores = [*zip(player1, player2)]
for i in scores:
    if i[0]>=i[1]:
        difference.append(i[0]-i[1])
        winner.append(1)
    else:
        difference.append(i[1]-i[0])
        winner.append(2)
largest_diff = max(difference)
loc = difference.index(largest_diff)
print(winner[loc], largest_diff)

5
140 82
89 134
90 110
112 106
88 90
1 58

In [4]:
n = int(input())
for i in range(0, n):
    elements = [*map(int, input().split())]
    elements.sort(reverse=True)
    print(elements[1])

3
12 23 34 45 6
324332 32 32 545 4 5
656 32 11 2
34
545
32

In [7]:
for i in range(int(input())):
    t = map(int, input().split())
    k = list(t)
    k.sort(reverse=True)
    print(k[1])

3
12 23 34 45 6
<map object at 0x000001C8C5399850>
34
323332 32 32 545 4 5
<map object at 0x000001C8C5399BE0>
545
656 32 11 2
<map object at 0x000001C8C5399850>
32

In [5]:
t=int(input())
while(t>0):
    t-=1
    x=[int(x) for x in input().split()]
    x.sort()
    print(x[1])

3
12 23 34 45 6
12
21323 32 32 545 4 5
5
656 32 11 2
11